<article class="post row">
  <div class="post-flair span8">
    <img src="<%= flair_url %>" width="750" height="280" class="flair"/>
  </div>
  <div class="post-content">
    <div class="span2">
      <div class="small-info">
        <p class="small">Date <span class="grey"><%= post_date %></span></p>
        <p class="small">Comments <span class="grey"><%= comments.length %></span></p>
      </div>
    </div>
    <div class="span6">
      <div class="container-inner">
        <h2 class="title"><%= title %></h2>
        <p class="body"><%= body %> </p>
      </div>

    </div>
  </div>

</article>

<a href="#/index">Back</a>